# Mini Project - Classification of Wind Turbine Alarms
To start I will first look at the alarm data, and 1 quarter worth of data

In [1]:
import pandas as pd
import numpy as np
import os

# path = 'C:\\Users\\kthomas\\Google Drive\\SMU\\DataMining\\MiniProject\\Data\\'
path = '~/Documents/thomaskh522@gmail.com/SMU/DataMining/MiniProject/Data/'
alarms = pd.read_csv(path + "tblAlarm2017_v2.csv")
q1 = pd.read_csv(path + "SCADAcombined2017Q1.csv")

In [2]:
# investigate the data
# we may want to chose a subselection of data as there are 435 unique "Name" rows
# variables that I like Name, XPos, YPos, wtc_SecAnemo_mean, wtc_MainBTmp_mean, wtc_GFilB3Tm_mean
sub = q1.head(200)
sub[sub["TimeStamp"] == "2017-01-01 00:10:00.000"]

# position = q1.groupbypby("Name")
# position.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_GFilB3Tm_mean,wtc_ReacUTmp_mean,wtc_ReacVTmp_mean,wtc_ReacWTmp_mean,wtc_MainBTmp_mean,wtc_MBearHTm_mean,wtc_MBearGTm_mean,wtc_GenAvgTm_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean
75,2017-01-01 00:10:00.000,A001,1,2308959,30,29,260,150,2017-01-01 00:09:58.000,7.044175,...,39.96920,NaN,NaN,NaN,37.88215,NaN,NaN,NaN,200.0,0.0
76,2017-01-01 00:10:00.000,T001,3,2308961,4,5,30,150,2017-01-01 00:09:58.000,9.322762,...,46.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
77,2017-01-01 00:10:00.000,T002,4,2308962,3,5,30,300,2017-01-01 00:09:58.000,9.636909,...,43.00000,NaN,NaN,NaN,39.72190,NaN,NaN,NaN,200.0,0.0
78,2017-01-01 00:10:00.000,T004,6,2308964,5,7,30,600,2017-01-01 00:09:58.000,9.928300,...,41.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
79,2017-01-01 00:10:00.000,T005,7,2308965,6,5,30,750,2017-01-01 00:09:58.000,9.774302,...,41.63320,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
80,2017-01-01 00:10:00.000,T007,9,2308967,8,10,1065,300,2017-01-01 00:09:59.000,9.004233,...,42.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
81,2017-01-01 00:10:00.000,T008,10,2308968,9,11,1065,450,2017-01-01 00:09:59.000,8.998788,...,43.97045,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
82,2017-01-01 00:10:00.000,T009,11,2308969,12,10,1065,600,2017-01-01 00:09:59.000,7.817625,...,43.99830,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
83,2017-01-01 00:10:00.000,T010,12,2308970,11,13,1065,750,2017-01-01 00:09:58.000,6.185417,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
84,2017-01-01 00:10:00.000,T011,13,2308971,12,14,1065,900,2017-01-01 00:09:59.000,6.851348,...,41.03603,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
85,2017-01-01 00:10:00.000,T012,14,2308972,13,15,1065,1050,2017-01-01 00:09:58.000,4.274290,...,40.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
86,2017-01-01 00:10:00.000,T013,15,2308973,16,14,1065,1200,2017-01-01 00:09:58.000,5.993765,...,40.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
87,2017-01-01 00:10:00.000,T014,16,2308974,15,17,1065,1350,2017-01-01 00:09:58.000,7.524992,...,39.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
88,2017-01-01 00:10:00.000,T015,17,2308975,8,16,30,900,2017-01-01 00:09:59.000,9.248598,...,42.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
89,2017-01-01 00:10:00.000,T016,18,2308976,17,19,30,1050,2017-01-01 00:09:59.000,9.203493,...,44.97707,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
90,2017-01-01 00:10:00.000,T017,19,2308977,20,21,30,1200,2017-01-01 00:09:58.000,5.499703,...,41.00000,NaN,NaN,NaN,38.93132,NaN,NaN,NaN,200.0,0.0
91,2017-01-01 00:10:00.000,T018,20,2308978,19,21,30,1350,2017-01-01 00:09:58.000,7.812815,...,41.98898,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
92,2017-01-01 00:10:00.000,T019,21,2308979,20,22,1065,1500,2017-01-01 00:09:59.000,8.767907,...,40.98840,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
93,2017-01-01 00:10:00.000,T021,23,2308981,24,25,145,150,2017-01-01 00:09:59.000,7.212890,...,42.96102,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
94,2017-01-01 00:10:00.000,T022,24,2308982,23,25,145,300,2017-01-01 00:09:59.000,6.753273,...,41.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
95,2017-01-01 00:10:00.000,T024,26,2308984,25,24,145,600,2017-01-01 00:09:59.000,5.813957,...,38.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
96,2017-01-01 00:10:00.000,T032,27,2308985,2,28,260,450,2017-01-01 00:09:58.000,6.491724,...,41.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
97,2017-01-01 00:10:00.000,T034,29,2308987,28,30,260,750,2017-01-01 00:09:59.000,7.607608,...,49.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
98,2017-01-01 00:10:00.000,T035,30,2308988,29,1,260,900,2017-01-01 00:09:59.000,7.018593,...,40.84467,NaN,NaN,NaN,39.03078,NaN,NaN,NaN,200.0,0.0
99,2017-01-01 00:10:00.000,T036,31,2308989,32,33,145,750,2017-01-01 00:09:58.000,5.962958,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
100,2017-01-01 00:10:00.000,T037,32,2308990,31,33,145,900,2017-01-01 00:09:58.000,6.245033,...,39.00000,NaN,NaN,NaN,39.05077,NaN,NaN,NaN,200.0,0.0
101,2017-01-01 00:10:00.000,T038,33,2308991,32,31,145,1050,2017-01-01 00:09:58.000,6.015808,...,43.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
102,2017-01-01 00:10:00.000,T039,34,2308992,35,36,950,150,2017-01-01 00:09:59.000,8.477200,...,40.50983,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
103,2017-01-01 00:10:00.000,T040,35,2308993,36,34,950,300,2017-01-01 00:09:59.000,8.013327,...,43.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
104,2017-01-01 00:10:00.000,T041,36,2308994,35,40,950,450,2017-01-01 00:09:58.000,10.241350,...,41.99595,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,2017-01-01 00:10:00.000,T068,55,2309013,54,56,720,600,2017-01-01 00:09:59.000,8.354890,...,41.00998,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
121,2017-01-01 00:10:00.000,T069,56,2309014,55,57,720,750,2017-01-01 00:09:58.000,6.897928,...,39.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
122,2017-01-01 00:10:00.000,T070,57,2309015,56,55,720,900,2017-01-01 00:09:58.000,6.513795,...,41.18712,NaN,NaN,NaN,37.99832,NaN,NaN,NaN,200.0,0.0
123,2017-01-01 00:10:00.000,T071,58,2309016,64,59,490,150,2017-01-01 00:09:59.000,8.648905,...,45.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
124,2017-01-01 00:10:00.000,T072,59,2309017,60,61,490,300,2017-01-01 00:09:58.000,7.538764,...,42.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
125,2017-01-01 00:10:00.000,T073,60,2309018,59,61,490,450,2017-01-01 00:09:59.000,7.746428,...,41.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
126,2017-01-01 00:10:00.000,T074,61,2309019,60,59,490,600,2017-01-01 00:09:59.000,8.120512,...,42.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
127,2017-01-01 00:10:00.000,T075,62,2309020,63,64,490,750,2017-01-01 00:09:58.000,9.674008,...,42.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
128,2017-01-01 00:10:00.000,T076,63,2309021,62,64,490,900,2017-01-01 00:09:58.000,6.375158,...,42.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
129,2017-01-01 00:10:00.000,T077,64,2309022,63,65,490,1050,2017-01-01 00:09:59.000,9.843570,...,42.01220,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
130,2017-01-01 00:10:00.000,T079,66,2309024,65,64,490,1350,2017-01-01 00:09:59.000,7.747682,...,42.00345,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
131,2017-01-01 00:10:00.000,T080,67,2309025,68,69,835,150,2017-01-01 00:09:58.000,8.303928,...,41.76117,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
132,2017-01-01 00:10:00.000,T082,69,2309027,70,67,835,300,2017-01-01 00:09:58.000,6.260603,...,40.03138,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
133,2017-01-01 00:10:00.000,T083,70,2309028,69,67,605,300,2017-01-01 00:09:59.000,5.007662,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
134,2017-01-01 00:10:00.000,T084,71,2309029,72,73,835,450,2017-01-01 00:09:59.000,7.297410,...,41.00000,NaN,NaN,NaN,39.06918,NaN,NaN,NaN,200.0,0.0
135,2017-01-01 00:10:00.000,T085,72,2309030,73,71,835,600,2017-01-01 00:09:58.000,7.209671,...,52.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
136,2017-01-01 00:10:00.000,T086,73,2309031,72,74,835,750,2017-01-01 00:09:58.000,7.273522,...,40.00000,NaN,NaN,NaN,37.99548,NaN,NaN,NaN,200.0,0.0
137,2017-01-01 00:10:00.000,T087,74,2309032,75,73,605,450,2017-01-01 00:09:59.000,4.284955,...,45.99833,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
138,2017-01-01 00:10:00.000,T088,75,2309033,74,76,605,600,2017-01-01 00:09:58.000,5.791305,...,41.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
139,2017-01-01 00:10:00.000,T089,76,2309034,75,77,605,750,2017-01-01 00:09:59.000,6.931285,...,40.00428,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
140,2017-01-01 00:10:00.000,T090,77,2309035,78,76,605,900,2017-01-01 00:09:59.000,7.478330,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
141,2017-01-01 00:10:00.000,T091,78,2309036,79,77,605,1050,2017-01-01 00:09:58.000,7.268055,...,42.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
142,2017-01-01 00:10:00.000,T092,79,2309037,78,80,605,1200,2017-01-01 00:09:58.000,6.850385,...,43.08790,NaN,NaN,NaN,37.98072,NaN,NaN,NaN,200.0,0.0
143,2017-01-01 00:10:00.000,T093,80,2309038,79,81,605,1350,2017-01-01 00:09:59.000,5.690975,...,39.00000,NaN,NaN,NaN,36.00000,NaN,NaN,NaN,200.0,0.0
144,2017-01-01 00:10:00.000,T094,81,2309039,80,79,605,1500,2017-01-01 00:09:59.000,6.284862,...,38.97192,NaN,NaN,NaN,36.00000,NaN,NaN,NaN,200.0,0.0
145,2017-01-01 00:10:00.000,T095,82,2309040,83,84,835,900,2017-01-01 00:09:58.000,8.715730,...,43.00000,NaN,NaN,NaN,42.00000,NaN,NaN,NaN,200.0,0.0
146,2017-01-01 00:10:00.000,T096,83,2309041,82,84,835,1050,2017-01-01 00:09:59.000,7.078575,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
147,2017-01-01 00:10:00.000,T097,84,2309042,83,82,835,1200,2017-01-01 00:09:59.000,8.381042,...,39.23070,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
148,2017-01-01 00:10:00.000,T099,86,2309044,85,87,835,1500,2017-01-01 00:09:59.000,6.795623,...,41.00000,NaN,NaN,NaN,36.00000,NaN,NaN,NaN,200.0,0.0
149,2017-01-01 00:10:00.000,T100,87,2309045,86,85,835,1650,2017-01-01 00:09:58.000,8.170397,...,42.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0

In [3]:
# Investigate alarm data
alarms.head(10)
# uniqueStation = alarms["StationId"].unique()

   Source  StationId  Type   Code           TimeOn TimeOff
0  System    2309007     0  50950  1/1/17 12:10 AM     NaN
1  System    2309008     0  50950  1/1/17 12:10 AM     NaN
2  System    2309009     0  50950  1/1/17 12:10 AM     NaN
3  System    2309010     0  50950  1/1/17 12:10 AM     NaN
4  System    2309011     0  50950  1/1/17 12:10 AM     NaN
5  System    2309012     0  50950  1/1/17 12:10 AM     NaN
6  System    2309013     0  50950  1/1/17 12:10 AM     NaN
7  System    2309014     0  50950  1/1/17 12:10 AM     NaN
8  System    2309015     0  50950  1/1/17 12:10 AM     NaN
9  System    2309016     0  50950  1/1/17 12:10 AM     NaN

In [4]:
# Next I need to turn the TimeOn Column into a timestamp
# I also change the name of StationId to Communcation ID to make mergine easier
# I also changed the name of DateTimeOn to TimeStamp to make merge eatier... I could have done this in assignment
from datetime import datetime
alarms["DateTimeOn"] = alarms["TimeOn"].apply(lambda x: datetime.strptime(x, '%m/%d/%y %I:%M %p'))
alarms=alarms.rename(columns = {'StationId':'CommunicationId'})
alarms.head()

,Source,CommunicationId,Type,Code,TimeOn,TimeOff,DateTimeOn
0,System,2309007,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
1,System,2309008,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
2,System,2309009,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
3,System,2309010,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
4,System,2309011,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00

In [15]:
# I think there is a problem merging on timestamp... I need to check the types of each one
print(type(alarms["DateTimeOn"][0]))
print(type(q1["TimeStamp"][0]))
q1["TimeStamp"][1000:1100]

<class 'pandas._libs.tslib.Timestamp'>
<class 'str'>

1000    2017-01-01 02:10:00.000
1001    2017-01-01 02:10:00.000
1002    2017-01-01 02:10:00.000
1003    2017-01-01 02:10:00.000
1004    2017-01-01 02:10:00.000
1005    2017-01-01 02:10:00.000
1006    2017-01-01 02:10:00.000
1007    2017-01-01 02:10:00.000
1008    2017-01-01 02:10:00.000
1009    2017-01-01 02:10:00.000
1010    2017-01-01 02:10:00.000
1011    2017-01-01 02:10:00.000
1012    2017-01-01 02:10:00.000
1013    2017-01-01 02:10:00.000
1014    2017-01-01 02:10:00.000
1015    2017-01-01 02:10:00.000
1016    2017-01-01 02:10:00.000
1017    2017-01-01 02:10:00.000
1018    2017-01-01 02:10:00.000
1019    2017-01-01 02:10:00.000
1020    2017-01-01 02:10:00.000
1021    2017-01-01 02:10:00.000
1022    2017-01-01 02:10:00.000
1023    2017-01-01 02:10:00.000
1024    2017-01-01 02:10:00.000
1025    2017-01-01 02:10:00.000
1026    2017-01-01 02:10:00.000
1027    2017-01-01 02:10:00.000
1028    2017-01-01 02:10:00.000
1029    2017-01-01 02:10:00.000
                 ...
1070    2017-01-01 02:20:00.000
1071    2017-01-01 02:20:00.000
1072    2017-01-01 02:20:00.000
1073    2017-01-01 02:20:00.000
1074    2017-01-01 02:20:00.000
1075    2017-01-01 02:20:00.000
1076    2017-01-01 02:20:00.000
1077    2017-01-01 02:20:00.000
1078    2017-01-01 02:20:00.000
1079    2017-01-01 02:20:00.000
1080    2017-01-01 02:20:00.000
1081    2017-01-01 02:20:00.000
1082    2017-01-01 02:20:00.000
1083    2017-01-01 02:20:00.000
1084    2017-01-01 02:20:00.000
1085    2017-01-01 02:20:00.000
1086    2017-01-01 02:20:00.000
1087    2017-01-01 02:20:00.000
1088    2017-01-01 02:20:00.000
1089    2017-01-01 02:20:00.000
1090    2017-01-01 02:20:00.000
1091    2017-01-01 02:20:00.000
1092    2017-01-01 02:20:00.000
1093    2017-01-01 02:20:00.000
1094    2017-01-01 02:20:00.000
1095    2017-01-01 02:20:00.000
1096    2017-01-01 02:20:00.000
1097    2017-01-01 02:20:00.000
1098    2017-01-01 02:20:00.000
1099    2017-01-01 02:20:00.000
Name: TimeStamp, Length: 100, dtype: object

In [41]:
# Next Make a new column that makes the TimeStamp in Q1 an actual timestamp
q1["DateTimeOn"] = q1["TimeStamp"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
q1['DateTimeOn'].head()

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]

In [20]:
#They look different... but are they really different?
print(q1['DateTimeOn'].head())
print(alarms['DateTimeOn'].head())

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]
0   2017-01-01 00:10:00
1   2017-01-01 00:10:00
2   2017-01-01 00:10:00
3   2017-01-01 00:10:00
4   2017-01-01 00:10:00
Name: DateTimeOn, dtype: datetime64[ns]

In [31]:
#Prove to myself that the values can be merged
print(type(q1["DateTimeOn"][0]))
print(type(alarms["DateTimeOn"][0]))
print(q1["DateTimeOn"][100])
print(alarms["DateTimeOn"][0])
q1["DateTimeOn"][100] == alarms["DateTimeOn"][0]

<class 'pandas._libs.tslib.Timestamp'>
<class 'pandas._libs.tslib.Timestamp'>
2017-01-01 00:10:00
2017-01-01 00:10:00

True

In [32]:
#Now I need to merge the alarms with the Q1 dataset
df_merged = pd.merge(q1, alarms, on = ["DateTimeOn", "CommunicationId"], how='inner')

In [36]:
df_merged.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_MBearGTm_mean,wtc_GenAvgTm_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean,DateTimeOn,Source,Type,Code,TimeOn,TimeOff
0,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
1,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:26 AM
2,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
3,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:27 AM
4,2017-01-01 00:10:00.000,T060,47,2309005,48,49,375,150,2017-01-01 00:09:58.000,8.995820,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN

In [40]:
df_merged.shape

(20605, 123)

# One hot encoding of the alarm variable

In [45]:
from sklearn.preprocessing import OneHotEncoder

#How many alarm types are there?
print("There are " +  str(len(alarms["Code"].unique())) + " unique alarms in the dataset")
alarms["Code"].unique()

#This could be to many alarms... we may want to pair this down. It could be too much for our purposes

There are 316 unique alarms in the dataset

array([50950, 50100,  3130,   115,    25,   111,    20, 10105,    29,
         142,    67,    68,    69,    62,    92, 10400,   138, 50101,
         127,   140,   139,    54,    58,  8217,    56,   145, 50102,
          27,  1020,  1022,  1001, 50000, 50001,  1005, 13902, 17083,
       13900,     2,     7,    18,     8,  7111,    61,    59,  3127,
         113,    87,  3406,    89,  3207,  3128,   114,  3407,  3208,
       10100,  3126,   112,  3206,  3405,  1003, 17235, 63025,  1012,
        4300,  2124,    40,  9304,  4112,  3203,  3205,  3204,  9303,
        8186,  8184, 50200,  4111, 13319, 13320, 13317, 13314, 13309,
       13311,  1112, 13315, 13301,   134,  3122,  7106,   110, 13150,
       13302, 13303, 18212, 17055, 17027,    76, 63038,    28,    86,
        1140,  5110,  1018,  5111,  5112,  5113, 13214,    48,  1023,
       50008,  1025, 63412, 17065, 64066, 13121, 17058,  8000,    30,
        7101,  3421, 17011, 63210, 63211, 63204, 63209,  3118,    13,
       17107,    14,  3422,  6101, 13325, 18216,  4103, 17014, 10115,
        7100,  9101,  9111, 63300, 63036,  9306,    88,  1015,  3404,
        4200,    75, 17268, 10401, 10127,  7110,  3123,  8108,    65,
          60, 13136,  5122, 13140, 13106, 63004, 63003, 50201,  5104,
       63001,     9, 64101, 63005,  3125, 17064,  2260,    66,  8188,
       63302, 63303, 63304, 63305, 63308, 63310, 63205, 63208, 63206,
       63217, 63207, 63219,  1024, 71002,  2261,  3124,  3103,  3104,
        3105,  3140,  1007, 71001,  1017,  4125,  4109,  4110,  6102,
        1021, 50954,  2700, 17085, 17068, 17086, 17087,   123,  2200,
       17054, 18010, 18051, 18078, 18011, 18205, 18217, 18210,  3149,
        1141,  8110,  8187,  8160,  8171,  8173,  4306,  4307,  1010,
       10104,  7103, 63410, 63000,  8185,  8155,  3197,  3201, 63309,
        4123,  4121,  4122,  4124, 13219,  6100,  4104,  4108,  4107,
        4106,  4105,  4102,  4101, 64001, 17069,  3173,  7102,  3171,
        8162,  3218,  7108, 17043,  3412, 63124, 63026,  7104,  1008,
       50901, 51104, 63311, 63501, 63400,  1800,   122, 18208, 18029,
       18040,  3116, 17071, 64111, 64038,  5105,  1156, 63174,  8116,
       63502, 63202, 63216, 63203, 13217,  1004, 63016,  8114,  9105,
        1124, 18014,  4114, 64000,  8170, 17039,  3413, 17040, 17220,
       17029,  8172,  3200, 63201,  3217,  3100,  3172,  7105,  3120,
        3144,  3145,  3146,  3131,  3132,  3148,  1026, 13294,  8140,
         102])