# Mini Project - Classification of Wind Turbine Alarms
To start I will first look at the alarm data, and 1 quarter worth of data

In [2]:
import pandas as pd
import numpy as np
import os

# path = 'C:\\Users\\kthomas\\Google Drive\\SMU\\DataMining\\MiniProject\\Data\\'
#path = '~/Documents/thomaskh522@gmail.com/SMU/DataMining/MiniProject/Data/'
path = 'D:/Pattern/'
alarms = pd.read_csv(path + "tblAlarm2017_v2.csv")
alarms_desc = pd.read_csv(path + "Siemens_Fault_Code_Descriptions.csv")
q1 = pd.read_csv(path + "SCADAcombined2017Q1.csv")

In [15]:
alarms_desc = pd.read_csv(path + "Siemens_Fault_Code_Descriptions.csv")

In [16]:
alarms_desc.head()

   Code                  Description Fault Type
0     0             System faultless          W
1   901   No. of freq. filters > Max          1
2   902  No. of analog filters > Max          1
3   903   Freq. filter not installed          1
4   904  Analog filter not installed          1

In [17]:
alarms.head()

   Source  StationId  Type   Code           TimeOn TimeOff
0  System    2309007     0  50950  1/1/17 12:10 AM     NaN
1  System    2309008     0  50950  1/1/17 12:10 AM     NaN
2  System    2309009     0  50950  1/1/17 12:10 AM     NaN
3  System    2309010     0  50950  1/1/17 12:10 AM     NaN
4  System    2309011     0  50950  1/1/17 12:10 AM     NaN

In [19]:
#Now I need to merge the alarms with the alarm descriptions
df_merged_alarms = pd.merge(alarms, alarms_desc, on = ["Code"], how='inner')

In [20]:
df_merged_alarms.head()

,Source,StationId,Type,Code,TimeOn,TimeOff,Description,Fault Type
0,Wtc,2308996,0,3130,1/1/17 1:36 AM,NaN,Pitch lubrication,1
1,Wtc,2308996,0,3130,1/1/17 1:36 AM,1/1/17 1:40 AM,Pitch lubrication,1
2,Wtc,2308963,0,3130,1/1/17 2:43 AM,NaN,Pitch lubrication,1
3,Wtc,2308965,0,3130,1/1/17 2:45 AM,NaN,Pitch lubrication,1
4,Wtc,2308963,0,3130,1/1/17 2:43 AM,1/1/17 2:47 AM,Pitch lubrication,1

In [26]:
df_merged_alarms['Description'].value_counts()

Stopped, untwisting cables        40665
Pitch lubrication                 12287
Hyd. for crane/cover activated     7428
Availability - low wind            6453
INU WARN: EM STOP (F081)           5700
Converter tripped, Auto Start      5560
INU ERR: EM STOP (F081)            5087
FRT detected by grid module        4996
Pitch pump. time too long,stop     2761
Stop for powerdown                 2478
Manual stop                        2442
Emergency switch activated         2345
Converter tripped, general         2207
Turbine in local operation         2180
UPS Battery Low                    1592
Hyd oil level error                1562
Pitchhydraulics superheated        1529
FT1 Sonic wind sensor error        1498
Remote stop Wake                   1420
Local, ad-hoc / repair work        1154
Gridvolt.<lower limit1             1068
Gridvolt.<lower limit2             1052
Gridvolt.<lower limit3             1010
Low lower voltage exceeded          898
Gridvolt.<lower limit4              824
Gearoil level too low               807
Yaw motor(s) superheated            722
Gear oil pressure too high/low      610
INU ERR: COMM MODULE (7510)         587
Local, customer / guest visit       569
                                  ...
Gear bear. HS-GEN sensor warn.        4
Hydraulic filter error                4
Grid filter cap. sensor error         4
Prim. Anemometer forced active        4
Prim. Vane forced active              4
Accumulator B check: timeout          4
HS-GEN gearbear. temp warning         4
Hub: MTS-sens C noise Error           3
HS-ROT Gearbearing superheated        2
Hub: MTS-sens B noise Error           2
Gearbear. HS-ROT sensor error         2
Orientation Stop -Failed              2
IMS-GEN gearbear. temp warning        2
Converter cooling dryer mode          2
ISU ERR: CUR UNBAL (2330)             2
I/O module SW ver. Conflict           2
Gear oil temperature high             2
Orientation Stop -Started             2
IMS-GEN gearb. temp. too high         2
Remote stop Service                   2
Prg. Code Correction Error            2
GS1 module powerdown detected         2
CAN 1 buffer overrun error            2
HS-ROT gearbear. temp. warning        2
Boost configuration error             2
INU ERR: OVER CURRENT (2310)          2
Hub temperature sensor error          2
Gear oil temperature warning          2
HS-GEN Gearbearing superheated        2
Smoke in the inverter                 1
Name: Description, Length: 243, dtype: int64

In [33]:
T014 = df_merged_alarms.loc[df_merged_alarms['StationId'] == 2308974]
T014['Description'].value_counts()

Stopped, untwisting cables        1329
Pitch lubrication                  142
Availability - low wind             80
Stop for powerdown                  74
FRT detected by grid module         66
Pitch pump. time too long,stop      66
UPS Battery Low                     64
Hyd. for crane/cover activated      60
Main Bear Temp. Warning             50
INU WARN: EM STOP (F081)            48
Converter tripped, Auto Start       43
INU ERR: EM STOP (F081)             38
Main bearing temp. too high         36
Manual stop                         30
Turbine in local operation          28
Emergency switch activated          24
Converter tripped, general          23
INU ERR: COMM MODULE (7510)         22
Gridvolt.<lower limit1              16
Low lower voltage exceeded          16
Gridvolt.<lower limit2              16
Local, ad-hoc / repair work         14
Gridvolt.<lower limit3              12
Gen. Inv. Communication error       11
Main breaker tripped                11
Pitch pawl A Feedb. Stop            10
FT1 Sonic wind sensor error         10
Local, scheduled service work        8
Gridvolt.<lower limit4               8
Stopped due to power up delay        8
INU ERR: ID DONE (FF32)              8
Local, customer / guest visit        8
Manual idle stop - yawing            8
Pitch A tracking during stop         8
INU ERR: SYSTEM START (1087)         6
INU ERR: ID MAGN (FF31)              6
Gearoil level too low                5
Windspeed too high to operate        4
Remote stop - Owner                  4
Manual stop owner                    4
Bad pitch calibration, blade A       4
INU ERR: ID MAGN REQ (FF30)          4
TwrFreq outside allowed window       3
UPS battery failure                  3
T.O.R Converter coolant heater       2
T.O.R Converter coolant pump         2
Pitch A tracking during opera.       2
Pitch pawl B Feedb. Stop             2
Many Anemometer activations          2
Pitch B tracking during stop         2
FRT function activated               2
Manual idle stop                     2
Tower vibration, waiting             2
Pitch C tracking during opera.       2
Name: Description, dtype: int64

In [13]:
q1.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
StationId,1111023.0,4.404165e+01,2.511075e+01,1.000000e+00,2.200000e+01,4.400000e+01,6.600000e+01,8.700000e+01
CommunicationId,1111023.0,2.309002e+06,2.511075e+01,2.308959e+06,2.308980e+06,2.309002e+06,2.309024e+06,2.309045e+06
NeighbourId,1111023.0,4.403962e+01,2.492885e+01,2.000000e+00,2.300000e+01,4.300000e+01,6.500000e+01,8.600000e+01
NeighbourIdTwo,1111023.0,4.468494e+01,2.469343e+01,1.000000e+00,2.400000e+01,4.400000e+01,6.600000e+01,8.700000e+01
XPos,1111023.0,5.349489e+02,3.398955e+02,3.000000e+01,2.600000e+02,4.900000e+02,8.350000e+02,1.065000e+03
YPos,1111023.0,7.647548e+02,4.244587e+02,1.500000e+02,4.500000e+02,7.500000e+02,1.050000e+03,1.650000e+03
wtc_SecAnemo_mean,1110941.0,7.930037e+00,3.387293e+00,0.000000e+00,5.548193e+00,7.946603e+00,1.033806e+01,2.168871e+01
wtc_YawPos_mean,1110940.0,1.850828e+02,9.391416e+01,0.000000e+00,1.347874e+02,1.906214e+02,2.427626e+02,3.600000e+02
wtc_GenRpm_mean,1110941.0,1.148163e+03,3.451305e+02,6.000000e-01,9.213044e+02,1.240915e+03,1.458859e+03,1.536638e+03
wtc_HubLubGr_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IceDetec_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidBa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidCa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IMidAa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MainSRpm_mean,1110941.0,1.267237e+01,3.809696e+00,0.000000e+00,1.016853e+01,1.369604e+01,1.610165e+01,1.696051e+01
wtc_PitchRef_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PitchRef_BladeA_mean,1110941.0,2.675378e+00,1.300413e+01,-2.029672e+00,-1.817028e+00,-1.368583e+00,2.812430e+00,9.800000e+01
wtc_PitchRef_BladeB_mean,1110941.0,2.675240e+00,1.300300e+01,-2.029672e+00,-1.817028e+00,-1.368583e+00,2.812428e+00,9.800000e+01
wtc_PitchRef_BladeC_mean,1110941.0,2.675385e+00,1.300298e+01,-2.029672e+00,-1.817028e+00,-1.368585e+00,2.812432e+00,9.800000e+01
wtc_PitcRefA_mean,1110941.0,2.672963e+00,1.304287e+01,-2.300000e+00,-1.816557e+00,-1.368348e+00,2.806777e+00,9.800000e+01
wtc_PriAnemo_mean,1110940.0,1.200000e+00,2.502089e-11,1.200000e+00,1.200000e+00,1.200000e+00,1.200000e+00,1.200000e+00
wtc_PWMBa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PWMCa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PWMAa_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn5_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn6_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HubAnIn7_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_NacHumid_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TwrHumid_mean,1110941.0,4.216198e+01,1.504279e+01,8.196293e+00,2.978925e+01,4.030520e+01,5.412750e+01,8.648268e+01
wtc_VisMeter_endvalue,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
wtc_IMSRotTm_mean,1110940.0,4.162664e+01,3.908607e+00,1.100000e+01,3.988822e+01,4.200000e+01,4.400000e+01,2.000000e+02
wtc_IO1IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IO2IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_IO3IntTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_NacelTmp_mean,1110940.0,2.165960e+01,5.847918e+00,-1.000000e+00,1.800000e+01,2.200000e+01,2.600000e+01,4.000000e+01
wtc_NMMBrdTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFMaTemp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFMCapTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFS1CapT_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_PFS1Temp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL1Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL2Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafL3Tm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TraOilTF_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TraRooTF_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ConvWTmp_mean,1110941.0,3.152444e+01,3.557419e+00,1.895848e+00,2.995580e+01,3.008481e+01,3.183766e+01,2.000000e+02
wtc_ConvWTm2_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_HydOilTm_mean,1110940.0,3.078649e+01,2.258591e+00,0.000000e+00,3.006423e+01,3.033915e+01,3.094327e+01,5.300000e+01
wtc_GFilB1Tm_mean,1110940.0,3.533999e+01,4.836338e+00,9.941466e+00,3.194437e+01,3.353150e+01,3.800000e+01,5.443462e+01
wtc_GFilB2Tm_mean,1110941.0,5.133855e+01,1.579379e+01,1.000000e+01,3.789397e+01,4.532327e+01,6.352967e+01,1.124659e+02
wtc_GFilB3Tm_mean,1110940.0,4.484986e+01,6.303671e+00,1.100000e+01,4.049004e+01,4.300162e+01,4.800000e+01,8.455645e+01
wtc_ReacUTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ReacVTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_ReacWTmp_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MainBTmp_mean,1110940.0,3.936359e+01,5.341687e+00,8.000000e+00,3.600000e+01,4.000000e+01,4.300000e+01,5.100000e+01
wtc_MBearHTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_MBearGTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_GenAvgTm_mean,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wtc_TrafoTMa_mean,1110940.0,2.000000e+02,0.000000e+00,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02
wtc_BoostAva_mean,1110920.0,4.768138e+00,2.202145e+01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.150000e+02

In [10]:
len(q1.Name.unique())

87

In [4]:
# investigate the data
# we may want to chose a subselection of data as there are 435 unique "Name" rows
# variables that I like Name, XPos, YPos, wtc_SecAnemo_mean, wtc_MainBTmp_mean, wtc_GFilB3Tm_mean
sub = q1.head(200)
sub[sub["TimeStamp"] == "2017-01-01 00:10:00.000"]

# position = q1.groupby("Name")
# position.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_GFilB3Tm_mean,wtc_ReacUTmp_mean,wtc_ReacVTmp_mean,wtc_ReacWTmp_mean,wtc_MainBTmp_mean,wtc_MBearHTm_mean,wtc_MBearGTm_mean,wtc_GenAvgTm_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean
0,2017-01-01 00:00:00.000,A001,1,2308959,30,29,260,150,2016-12-31 23:59:59.000,8.336860,...,39.96298,NaN,NaN,NaN,37.99118,NaN,NaN,NaN,200.0,0.0
1,2017-01-01 00:00:00.000,T001,3,2308961,4,5,30,150,2016-12-31 23:59:58.000,10.321250,...,46.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
2,2017-01-01 00:00:00.000,T002,4,2308962,3,5,30,300,2016-12-31 23:59:58.000,10.222780,...,42.86638,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
3,2017-01-01 00:00:00.000,T004,6,2308964,5,7,30,600,2016-12-31 23:59:58.000,9.937770,...,40.99303,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
4,2017-01-01 00:00:00.000,T005,7,2308965,6,5,30,750,2016-12-31 23:59:58.000,9.727246,...,41.03338,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
5,2017-01-01 00:00:00.000,T007,9,2308967,8,10,1065,300,2016-12-31 23:59:59.000,9.434605,...,42.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
6,2017-01-01 00:00:00.000,T008,10,2308968,9,11,1065,450,2016-12-31 23:59:59.000,9.476055,...,43.38600,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
7,2017-01-01 00:00:00.000,T009,11,2308969,12,10,1065,600,2016-12-31 23:59:58.000,8.384722,...,43.93941,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
8,2017-01-01 00:00:00.000,T010,12,2308970,11,13,1065,750,2016-12-31 23:59:58.000,6.892575,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
9,2017-01-01 00:00:00.000,T011,13,2308971,12,14,1065,900,2016-12-31 23:59:59.000,6.844035,...,41.01857,NaN,NaN,NaN,36.98155,NaN,NaN,NaN,200.0,0.0
10,2017-01-01 00:00:00.000,T012,14,2308972,13,15,1065,1050,2016-12-31 23:59:58.000,7.429888,...,40.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
11,2017-01-01 00:00:00.000,T013,15,2308973,16,14,1065,1200,2016-12-31 23:59:58.000,7.330833,...,40.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
12,2017-01-01 00:00:00.000,T014,16,2308974,15,17,1065,1350,2016-12-31 23:59:58.000,9.201736,...,39.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
13,2017-01-01 00:00:00.000,T015,17,2308975,8,16,30,900,2016-12-31 23:59:59.000,10.078570,...,42.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
14,2017-01-01 00:00:00.000,T016,18,2308976,17,19,30,1050,2016-12-31 23:59:58.000,10.514790,...,44.48143,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
15,2017-01-01 00:00:00.000,T017,19,2308977,20,21,30,1200,2016-12-31 23:59:58.000,8.447826,...,41.00000,NaN,NaN,NaN,38.70995,NaN,NaN,NaN,200.0,0.0
16,2017-01-01 00:00:00.000,T018,20,2308978,19,21,30,1350,2016-12-31 23:59:58.000,7.096426,...,41.99837,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
17,2017-01-01 00:00:00.000,T019,21,2308979,20,22,1065,1500,2016-12-31 23:59:59.000,8.179539,...,40.95268,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
18,2017-01-01 00:00:00.000,T021,23,2308981,24,25,145,150,2016-12-31 23:59:59.000,7.880235,...,42.84352,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
19,2017-01-01 00:00:00.000,T022,24,2308982,23,25,145,300,2016-12-31 23:59:58.000,7.174459,...,41.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
20,2017-01-01 00:00:00.000,T024,26,2308984,25,24,145,600,2016-12-31 23:59:59.000,6.173683,...,38.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
21,2017-01-01 00:00:00.000,T032,27,2308985,2,28,260,450,2016-12-31 23:59:58.000,7.474727,...,41.00000,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
22,2017-01-01 00:00:00.000,T034,29,2308987,28,30,260,750,2016-12-31 23:59:59.000,8.559359,...,48.99835,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
23,2017-01-01 00:00:00.000,T035,30,2308988,29,1,260,900,2016-12-31 23:59:59.000,8.073506,...,40.46900,NaN,NaN,NaN,39.00000,NaN,NaN,NaN,200.0,0.0
24,2017-01-01 00:00:00.000,T036,31,2308989,32,33,145,750,2016-12-31 23:59:58.000,6.806108,...,40.00000,NaN,NaN,NaN,38.00000,NaN,NaN,NaN,200.0,0.0
25,2017-01-01 00:00:00.000,T037,32,2308990,31,33,145,900,2016-12-31 23:59:58.000,6.416481,...,39.00000,NaN,NaN,NaN,39.20360,NaN,NaN,NaN,200.0,0.0
26,2017-01-01 00:00:00.000,T038,33,2308991,32,31,145,1050,2016-12-31 23:59:58.000,6.336213,...,43.00000,NaN,NaN,NaN,37.00000,NaN,NaN,NaN,200.0,0.0
27,2017-01-01 00:00:00.000,T039,34,2308992,35,36,950,150,2016-12-31 23:59:59.000,8.026192,...,40.55107,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
28,2017-01-01 00:00:00.000,T040,35,2308993,36,34,950,300,2016-12-31 23:59:59.000,9.617144,...,43.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
29,2017-01-01 00:00:00.000,T041,36,2308994,35,40,950,450,2016-12-31 23:59:58.000,8.551845,...,41.99670,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957743,2017-03-30 23:10:00.000,T061,48,2309006,47,49,375,300,2017-03-30 23:09:59.000,10.704980,...,41.00331,NaN,NaN,NaN,40.00140,NaN,NaN,NaN,200.0,0.0
957744,2017-03-30 23:10:00.000,T078,65,2309023,64,66,490,1200,2017-03-30 23:09:59.000,11.492210,...,42.30952,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957745,2017-03-30 23:10:00.000,T081,68,2309026,67,70,605,150,2017-03-30 23:09:58.000,12.450510,...,44.89740,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957746,2017-03-30 23:10:00.000,T098,85,2309043,86,87,835,1350,2017-03-30 23:09:59.000,10.429240,...,46.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957747,2017-03-30 23:20:00.000,A002,2,2308960,27,28,260,300,2017-03-30 23:19:58.000,11.414640,...,72.95306,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957748,2017-03-30 23:20:00.000,T003,5,2308963,6,4,30,450,2017-03-30 23:19:58.000,12.356610,...,44.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957749,2017-03-30 23:20:00.000,T006,8,2308966,9,10,1065,150,2017-03-30 23:19:59.000,9.831985,...,44.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957750,2017-03-30 23:20:00.000,T020,22,2308980,21,20,30,1500,2017-03-30 23:19:58.000,14.895690,...,45.23763,NaN,NaN,NaN,41.50852,NaN,NaN,NaN,200.0,0.0
957751,2017-03-30 23:20:00.000,T023,25,2308983,24,26,145,450,2017-03-30 23:19:58.000,11.198180,...,44.25593,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957752,2017-03-30 23:20:00.000,T033,28,2308986,27,29,260,600,2017-03-30 23:19:58.000,10.992930,...,43.04065,NaN,NaN,NaN,42.00000,NaN,NaN,NaN,200.0,0.0
957753,2017-03-30 23:20:00.000,T052,42,2309000,43,44,145,1200,2017-03-30 23:19:58.000,11.206950,...,44.00000,NaN,NaN,NaN,43.00000,NaN,NaN,NaN,200.0,0.0
957754,2017-03-30 23:20:00.000,T055,46,2309003,45,42,145,1500,2017-03-30 23:19:59.000,10.421530,...,45.46743,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957755,2017-03-30 23:20:00.000,T061,48,2309006,47,49,375,300,2017-03-30 23:19:59.000,10.894930,...,41.00000,NaN,NaN,NaN,40.01680,NaN,NaN,NaN,200.0,0.0
957756,2017-03-30 23:20:00.000,T078,65,2309023,64,66,490,1200,2017-03-30 23:19:59.000,10.974350,...,42.77328,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957757,2017-03-30 23:20:00.000,T081,68,2309026,67,70,605,150,2017-03-30 23:19:58.000,11.250240,...,44.54877,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957758,2017-03-30 23:20:00.000,T098,85,2309043,86,87,835,1350,2017-03-30 23:19:59.000,10.980740,...,46.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957759,2017-03-30 23:30:00.000,A002,2,2308960,27,28,260,300,2017-03-30 23:29:58.000,10.053870,...,72.99815,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957760,2017-03-30 23:30:00.000,T003,5,2308963,6,4,30,450,2017-03-30 23:29:58.000,12.473510,...,44.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957761,2017-03-30 23:30:00.000,T006,8,2308966,9,10,1065,150,2017-03-30 23:29:59.000,9.862710,...,44.00502,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957762,2017-03-30 23:30:00.000,T020,22,2308980,21,20,30,1500,2017-03-30 23:29:58.000,13.599630,...,45.00657,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957763,2017-03-30 23:30:00.000,T023,25,2308983,24,26,145,450,2017-03-30 23:29:58.000,11.111570,...,44.41879,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957764,2017-03-30 23:30:00.000,T033,28,2308986,27,29,260,600,2017-03-30 23:29:58.000,10.085350,...,43.17125,NaN,NaN,NaN,42.00000,NaN,NaN,NaN,200.0,0.0
957765,2017-03-30 23:30:00.000,T052,42,2309000,43,44,145,1200,2017-03-30 23:29:58.000,10.600570,...,44.00000,NaN,NaN,NaN,43.00000,NaN,NaN,NaN,200.0,0.0
957766,2017-03-30 23:30:00.000,T055,46,2309003,45,42,145,1500,2017-03-30 23:29:58.000,10.277900,...,45.30472,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957767,2017-03-30 23:30:00.000,T061,48,2309006,47,49,375,300,2017-03-30 23:29:59.000,10.659730,...,41.00000,NaN,NaN,NaN,40.67475,NaN,NaN,NaN,200.0,0.0
957768,2017-03-30 23:30:00.000,T078,65,2309023,64,66,490,1200,2017-03-30 23:29:59.000,11.376530,...,42.97673,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957769,2017-03-30 23:30:00.000,T081,68,2309026,67,70,605,150,2017-03-30 23:29:59.000,11.921500,...,44.12402,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957770,2017-03-30 23:30:00.000,T098,85,2309043,86,87,835,1350,2017-03-30 23:29:59.000,11.552810,...,46.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0
957771,2017-03-30 23:40:00.000,A002,2,2308960,27,28,260,300,2017-03-30 23:39:58.000,9.511204,...,73.00000,NaN,NaN,NaN,40.00000,NaN,NaN,NaN,200.0,0.0
957772,2017-03-30 23:40:00.000,T003,5,2308963,6,4,30,450,2017-03-30 23:39:58.000,12.058900,...,44.00000,NaN,NaN,NaN,41.00000,NaN,NaN,NaN,200.0,0.0

In [3]:
# Investigate alarm data
alarms.head(10)
# uniqueStation = alarms["StationId"].unique()

   Source  StationId  Type   Code           TimeOn TimeOff
0  System    2309007     0  50950  1/1/17 12:10 AM     NaN
1  System    2309008     0  50950  1/1/17 12:10 AM     NaN
2  System    2309009     0  50950  1/1/17 12:10 AM     NaN
3  System    2309010     0  50950  1/1/17 12:10 AM     NaN
4  System    2309011     0  50950  1/1/17 12:10 AM     NaN
5  System    2309012     0  50950  1/1/17 12:10 AM     NaN
6  System    2309013     0  50950  1/1/17 12:10 AM     NaN
7  System    2309014     0  50950  1/1/17 12:10 AM     NaN
8  System    2309015     0  50950  1/1/17 12:10 AM     NaN
9  System    2309016     0  50950  1/1/17 12:10 AM     NaN

In [4]:
# Next I need to turn the TimeOn Column into a timestamp
# I also change the name of StationId to Communcation ID to make mergine easier
# I also changed the name of DateTimeOn to TimeStamp to make merge eatier... I could have done this in assignment
from datetime import datetime
alarms["DateTimeOn"] = alarms["TimeOn"].apply(lambda x: datetime.strptime(x, '%m/%d/%y %I:%M %p'))
alarms=alarms.rename(columns = {'StationId':'CommunicationId'})
alarms.head()

,Source,CommunicationId,Type,Code,TimeOn,TimeOff,DateTimeOn
0,System,2309007,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
1,System,2309008,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
2,System,2309009,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
3,System,2309010,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00
4,System,2309011,0,50950,1/1/17 12:10 AM,NaN,2017-01-01 00:10:00

In [15]:
# I think there is a problem merging on timestamp... I need to check the types of each one
print(type(alarms["DateTimeOn"][0]))
print(type(q1["TimeStamp"][0]))
q1["TimeStamp"][1000:1100]

<class 'pandas._libs.tslib.Timestamp'>
<class 'str'>

1000    2017-01-01 02:10:00.000
1001    2017-01-01 02:10:00.000
1002    2017-01-01 02:10:00.000
1003    2017-01-01 02:10:00.000
1004    2017-01-01 02:10:00.000
1005    2017-01-01 02:10:00.000
1006    2017-01-01 02:10:00.000
1007    2017-01-01 02:10:00.000
1008    2017-01-01 02:10:00.000
1009    2017-01-01 02:10:00.000
1010    2017-01-01 02:10:00.000
1011    2017-01-01 02:10:00.000
1012    2017-01-01 02:10:00.000
1013    2017-01-01 02:10:00.000
1014    2017-01-01 02:10:00.000
1015    2017-01-01 02:10:00.000
1016    2017-01-01 02:10:00.000
1017    2017-01-01 02:10:00.000
1018    2017-01-01 02:10:00.000
1019    2017-01-01 02:10:00.000
1020    2017-01-01 02:10:00.000
1021    2017-01-01 02:10:00.000
1022    2017-01-01 02:10:00.000
1023    2017-01-01 02:10:00.000
1024    2017-01-01 02:10:00.000
1025    2017-01-01 02:10:00.000
1026    2017-01-01 02:10:00.000
1027    2017-01-01 02:10:00.000
1028    2017-01-01 02:10:00.000
1029    2017-01-01 02:10:00.000
                 ...
1070    2017-01-01 02:20:00.000
1071    2017-01-01 02:20:00.000
1072    2017-01-01 02:20:00.000
1073    2017-01-01 02:20:00.000
1074    2017-01-01 02:20:00.000
1075    2017-01-01 02:20:00.000
1076    2017-01-01 02:20:00.000
1077    2017-01-01 02:20:00.000
1078    2017-01-01 02:20:00.000
1079    2017-01-01 02:20:00.000
1080    2017-01-01 02:20:00.000
1081    2017-01-01 02:20:00.000
1082    2017-01-01 02:20:00.000
1083    2017-01-01 02:20:00.000
1084    2017-01-01 02:20:00.000
1085    2017-01-01 02:20:00.000
1086    2017-01-01 02:20:00.000
1087    2017-01-01 02:20:00.000
1088    2017-01-01 02:20:00.000
1089    2017-01-01 02:20:00.000
1090    2017-01-01 02:20:00.000
1091    2017-01-01 02:20:00.000
1092    2017-01-01 02:20:00.000
1093    2017-01-01 02:20:00.000
1094    2017-01-01 02:20:00.000
1095    2017-01-01 02:20:00.000
1096    2017-01-01 02:20:00.000
1097    2017-01-01 02:20:00.000
1098    2017-01-01 02:20:00.000
1099    2017-01-01 02:20:00.000
Name: TimeStamp, Length: 100, dtype: object

In [41]:
# Next Make a new column that makes the TimeStamp in Q1 an actual timestamp
q1["DateTimeOn"] = q1["TimeStamp"].apply(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))
q1['DateTimeOn'].head()

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]

In [20]:
#They look different... but are they really different?
print(q1['DateTimeOn'].head())
print(alarms['DateTimeOn'].head())

0   2017-01-01
1   2017-01-01
2   2017-01-01
3   2017-01-01
4   2017-01-01
Name: DateTimeOn, dtype: datetime64[ns]
0   2017-01-01 00:10:00
1   2017-01-01 00:10:00
2   2017-01-01 00:10:00
3   2017-01-01 00:10:00
4   2017-01-01 00:10:00
Name: DateTimeOn, dtype: datetime64[ns]

In [31]:
#Prove to myself that the values can be merged
print(type(q1["DateTimeOn"][0]))
print(type(alarms["DateTimeOn"][0]))
print(q1["DateTimeOn"][100])
print(alarms["DateTimeOn"][0])
q1["DateTimeOn"][100] == alarms["DateTimeOn"][0]

<class 'pandas._libs.tslib.Timestamp'>
<class 'pandas._libs.tslib.Timestamp'>
2017-01-01 00:10:00
2017-01-01 00:10:00

True

In [32]:
#Now I need to merge the alarms with the Q1 dataset
df_merged = pd.merge(q1, alarms, on = ["DateTimeOn", "CommunicationId"], how='inner')

In [36]:
df_merged.head()

,TimeStamp,Name,StationId,CommunicationId,NeighbourId,NeighbourIdTwo,XPos,YPos,wtc_CurTime_endvalue,wtc_SecAnemo_mean,...,wtc_MBearGTm_mean,wtc_GenAvgTm_mean,wtc_TrafoTMa_mean,wtc_BoostAva_mean,DateTimeOn,Source,Type,Code,TimeOn,TimeOff
0,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
1,2017-01-01 00:10:00.000,T053,43,2309001,42,46,145,1350,2017-01-01 00:09:59.000,8.895839,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:26 AM
2,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN
3,2017-01-01 00:10:00.000,T054,44,2309002,41,42,950,900,2017-01-01 00:09:59.000,9.375854,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,1/1/17 12:27 AM
4,2017-01-01 00:10:00.000,T060,47,2309005,48,49,375,150,2017-01-01 00:09:58.000,8.995820,...,NaN,NaN,200.0,0.0,2017-01-01 00:10:00,System,0,50950,1/1/17 12:10 AM,NaN

In [40]:
df_merged.shape

(20605, 123)

# One hot encoding of the alarm variable

In [45]:
from sklearn.preprocessing import OneHotEncoder

#How many alarm types are there?
print("There are " +  str(len(alarms["Code"].unique())) + " unique alarms in the dataset")
alarms["Code"].unique()

#This could be to many alarms... we may want to pair this down. It could be too much for our purposes

There are 316 unique alarms in the dataset

array([50950, 50100,  3130,   115,    25,   111,    20, 10105,    29,
         142,    67,    68,    69,    62,    92, 10400,   138, 50101,
         127,   140,   139,    54,    58,  8217,    56,   145, 50102,
          27,  1020,  1022,  1001, 50000, 50001,  1005, 13902, 17083,
       13900,     2,     7,    18,     8,  7111,    61,    59,  3127,
         113,    87,  3406,    89,  3207,  3128,   114,  3407,  3208,
       10100,  3126,   112,  3206,  3405,  1003, 17235, 63025,  1012,
        4300,  2124,    40,  9304,  4112,  3203,  3205,  3204,  9303,
        8186,  8184, 50200,  4111, 13319, 13320, 13317, 13314, 13309,
       13311,  1112, 13315, 13301,   134,  3122,  7106,   110, 13150,
       13302, 13303, 18212, 17055, 17027,    76, 63038,    28,    86,
        1140,  5110,  1018,  5111,  5112,  5113, 13214,    48,  1023,
       50008,  1025, 63412, 17065, 64066, 13121, 17058,  8000,    30,
        7101,  3421, 17011, 63210, 63211, 63204, 63209,  3118,    13,
       17107,    14,  3422,  6101, 13325, 18216,  4103, 17014, 10115,
        7100,  9101,  9111, 63300, 63036,  9306,    88,  1015,  3404,
        4200,    75, 17268, 10401, 10127,  7110,  3123,  8108,    65,
          60, 13136,  5122, 13140, 13106, 63004, 63003, 50201,  5104,
       63001,     9, 64101, 63005,  3125, 17064,  2260,    66,  8188,
       63302, 63303, 63304, 63305, 63308, 63310, 63205, 63208, 63206,
       63217, 63207, 63219,  1024, 71002,  2261,  3124,  3103,  3104,
        3105,  3140,  1007, 71001,  1017,  4125,  4109,  4110,  6102,
        1021, 50954,  2700, 17085, 17068, 17086, 17087,   123,  2200,
       17054, 18010, 18051, 18078, 18011, 18205, 18217, 18210,  3149,
        1141,  8110,  8187,  8160,  8171,  8173,  4306,  4307,  1010,
       10104,  7103, 63410, 63000,  8185,  8155,  3197,  3201, 63309,
        4123,  4121,  4122,  4124, 13219,  6100,  4104,  4108,  4107,
        4106,  4105,  4102,  4101, 64001, 17069,  3173,  7102,  3171,
        8162,  3218,  7108, 17043,  3412, 63124, 63026,  7104,  1008,
       50901, 51104, 63311, 63501, 63400,  1800,   122, 18208, 18029,
       18040,  3116, 17071, 64111, 64038,  5105,  1156, 63174,  8116,
       63502, 63202, 63216, 63203, 13217,  1004, 63016,  8114,  9105,
        1124, 18014,  4114, 64000,  8170, 17039,  3413, 17040, 17220,
       17029,  8172,  3200, 63201,  3217,  3100,  3172,  7105,  3120,
        3144,  3145,  3146,  3131,  3132,  3148,  1026, 13294,  8140,
         102])

In [5]:
 from sklearn.cross_validation import train_test_split

C:\Users\Casiano\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)